pandas==2.3.3
numpy==2.2.6
scikit-learn==1.7.2
joblib==1.5.2
matplotlib==3.10.7
seaborn==0.13.2
fastapi==0.118.3
uvicorn[standard]==0.37.0
pydantic==2.12.3
streamlit==1.50.0
requests==2.32.5
mlflow==3.5.1
SQLAlchemy==2.0.44
dvc==3.63.0
pathspec==0.12.1
PyYAML==6.0.3
pytest==8.4.2
httpx==0.28.1
